.countries-table{
    background-color: #FFFFFF;
}

.table-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.table-content{
    overflow: auto;
}
.table-row{
    transition: all 0.25s;
}
.item{
    transition: all 0.3s;
}

.form-control{
    outline: none;
    border-radius: unset;
    
    transition: all 0.3s;
    width: 250px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    
}

.form-control:focus{
    box-shadow: 0 0 0 1px #2684ff;
}

.flag{
    width: 35px;
    /* height: 35px; */
}

.pagination{
    justify-content: flex-end;
    font-size: 10px;
}